Repository osl-incubator/sugar: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-linter, mypy, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: ruff-format
      name: ruff-format
      entry: ruff format
      exclude: |
        (?x)(
          docs
        )
      language: system
      pass_filenames: true
      types:
        - python

    - id: ruff-linter
      name: ruff-linter
      entry: ruff check
      language: system
      exclude: "docs/"
      pass_filenames: true
      types:
        - python

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: "containers_sugar/"
      pass_filenames: true
      types:
        - python

    - id: bandit
      name: bandit
      entry: bandit
      language: system
      args: ['--configfile', 'pyproject.toml']
      pass_filenames: true
      types:
        - python

    - id: vulture
      name: vulture
      entry: vulture
      language: system
      files: "containers_sugar/"
      description: Find unused Python code.
      pass_filenames: true
      types:
        - python

changed layout to src
  .pre-commit-config.yaml
  .releaserc.json
  pyproject.toml
  src/containers_sugar/__init__.py
  src/containers_sugar/__main__.py
  src/containers_sugar/cli.py
  src/containers_sugar/logs.py
  src/containers_sugar/sugar.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Fixed makim.yaml!
  makim.yaml
  mkdocs.yaml
Due: none

changed to src layout
  .github/workflows/release.yaml
  makim.yaml
  mkdocs.yaml
Due: none

refactor: Changed layout to src (#95)
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  .releaserc.json
  docs/index.md
  pyproject.toml
  src/containers_sugar/__init__.py
  src/containers_sugar/__main__.py
  src/containers_sugar/cli.py
  src/containers_sugar/logs.py
  src/containers_sugar/sugar.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

added files for documentation
  .github/workflows/release.yaml
  makim.yaml
  mkdocs.yaml
Due: none

updated version of mkdocstring and added suffix -python
  pyproject.toml
Due: none

deleted poetry.lock
  makim.yaml
  poetry.lock
  tests/__init__.py
  tests/test_containers_sugar.py
Due: ruff-format, ruff-linter, bandit

add distlib as a dep
  poetry.lock
  pyproject.toml
Due: none

restore test files
  tests/__init__.py
  tests/test_containers_sugar.py
Due: ruff-format, ruff-linter, bandit

fix distlib
  poetry.lock
  pyproject.toml
Due: none

fix conda env
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

fix depds
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

fix depds
  poetry.lock
  pyproject.toml
Due: none

fix deps
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  poetry.lock
  pyproject.toml
Due: none

fix deps
  conda/dev.yaml
  conda/release.yaml
  pyproject.toml
Due: none

fix deps
  poetry.lock
Due: none

fix deps
  conda/dev.yaml
  conda/release.yaml
Due: none

docs: Add workflow for documentation (#96)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/dev.yaml
  conda/release.yaml
  makim.yaml
  mkdocs.yaml
  poetry.lock
  pyproject.toml
Due: none

fix: Rename the project from containers-sugar to sugar
  .github/ISSUE_TEMPLATE.md
  .pre-commit-config.yaml
  .releaserc.json
  .vscode/settings.json
  README.md
  artwork/poc/favicon.svg
  artwork/poc/logo.svg
  artwork/v1/favicon.png
  artwork/v1/logo.png
  docs/changelog.md
  docs/contributing.md
  docs/example.ipynb
  docs/images/android-chrome-192x192.png
  docs/images/android-chrome-512x512.png
  docs/images/apple-touch-icon.png
  docs/images/favicon-16x16.png
  docs/images/favicon-32x32.png
  docs/images/favicon.ico
  docs/images/site.webmanifest
  docs/index.md
  docs/installation.md
  docs/mkdocs.yaml
  mkdocs.yaml
  pyproject.toml
  src/sugar/__init__.py
  src/sugar/__main__.py
  src/sugar/cli.py
  src/sugar/logs.py
  src/sugar/sugar.py
  tests/__init__.py
  tests/test_containers_sugar.py
Due: ruff-format, ruff-linter, bandit

fix: Rename project from containers-sugar to sugar and improve docs
  .makim.yaml
  artwork/poc/favicon.svg
  docs/index.md
  docs/installation.md
  docs/mkdocs.yaml
  mkdocs.yaml
Due: none

rename sugar config file as well
  .sugar.yaml
Due: none

we need to keep the package name to containers-sugar
  docs/installation.md
  pyproject.toml
Due: none

add distlib to the deps
  poetry.lock
  pyproject.toml
Due: none

fix: Rename project from containers-sugar to sugar and improve docs (#98)
  .github/ISSUE_TEMPLATE.md
  .makim.yaml
  .pre-commit-config.yaml
  .releaserc.json
  .sugar.yaml
  .vscode/settings.json
  README.md
  artwork/poc/favicon.svg
  artwork/poc/logo.svg
  artwork/v1/favicon.png
  artwork/v1/logo.png
  docs/changelog.md
  docs/contributing.md
  docs/example.ipynb
  docs/images/android-chrome-192x192.png
  docs/images/android-chrome-512x512.png
  docs/images/apple-touch-icon.png
  docs/images/favicon-16x16.png
  docs/images/favicon-32x32.png
  docs/images/favicon.ico
  docs/images/site.webmanifest
  docs/index.md
  docs/installation.md
  docs/mkdocs.yaml
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  src/sugar/__init__.py
  src/sugar/__main__.py
  src/sugar/cli.py
  src/sugar/logs.py
  src/sugar/sugar.py
  tests/__init__.py
  tests/test_containers_sugar.py
Due: ruff-format, ruff-linter, bandit

chore(release): 1.9.2
  docs/changelog.md
  pyproject.toml
  src/sugar/__init__.py
Due: ruff-format, ruff-linter, bandit

Notes added by 'git notes add'
  3be70ac7d3399c2d5c37dc1cc074bd60800d5580
Due: none

updated documentation
  docs/index.md
Due: none

changed sugar.py iteration to adapt to dictionary syntax, aslo corrected documentation and test
  .sugar.yaml
  docs/index.md
  src/sugar/sugar.py
Due: ruff-format, ruff-linter, bandit

with pre-commit run
  src/sugar/sugar.py
Due: ruff-format, ruff-linter, bandit

refactor: change to dictionary format (#97)
  .sugar.yaml
  docs/index.md
  src/sugar/sugar.py
Due: ruff-format, ruff-linter, bandit

fix: distlib failure
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/dev.yaml
  conda/release.yaml
  poetry.lock
  pyproject.toml
Due: none

attempt 2 for fixing ci
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: none

fix: Fix distlib installation failure (#102)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/dev.yaml
  conda/release.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(deps): Add support for python 3.11 and 3.12
  .github/workflows/main.yaml
  pyproject.toml
Due: none

chore(deps): Add support for python 3.11 and 3.12 (#103)
  .github/workflows/main.yaml
  pyproject.toml
Due: none

fix: Add services to the config command.
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
  src/sugar/sugar.py
Due: ruff-format, ruff-linter, bandit

fix: Add services to the config command (#104)
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
  src/sugar/sugar.py
Due: ruff-format, ruff-linter, bandit

chore(release): 1.9.3
  docs/changelog.md
  pyproject.toml
  src/sugar/__init__.py
Due: ruff-format, ruff-linter, bandit
