Repository osl-incubator/sugar: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-linter, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        exclude: |
          (?x)(
            docs
          )
        language: system
        pass_filenames: true
        types:
          - python

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        exclude: "docs/"
        pass_filenames: true
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy .
        language: system
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/sugar/"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

fix: Correct service inspection command ,improve error handling in Sugar Swarm and added new tests fixed mypy type errors with tests_sugar.py
  docs/swarm.md
  src/sugar/extensions/stats.py
  src/sugar/extensions/swarm.py
  tests/test_swarm.py
  tests/test_swarm_integration.py
Due: ruff-format, ruff-linter, bandit, vulture

test: Refactor error handling in SugarSwarm tests to use mock for logging
  tests/test_swarm.py
Due: ruff-format, ruff-linter, bandit

chore(ci): Add ci workflow for closing prs
  .github/workflows/stale.yaml
Due: none

chore(ci): Add ci workflow for closing stale prs (#174)
  .github/workflows/stale.yaml
Due: none

docs: replace index.md with symbolic link to README.md
  README.md
  docs/index.md
Due: none

docs: replace index.md with symbolic link to README.md
  README.md
Due: none

schema update for multiple env
  src/sugar/schema.json
Due: none

load_env update for multiple env
  src/sugar/extensions/base.py
Due: ruff-format, ruff-linter, bandit, vulture

load_backend_args update for multiple env
  src/sugar/extensions/base.py
Due: ruff-format, ruff-linter, bandit, vulture

feat(cli): enhance Typer app with subcommand help fallback upon empty command args
  src/sugar/cli.py
Due: ruff-format, ruff-linter, bandit, vulture

refactor(cli) : : update comments for clarity in dynamic command creation
  src/sugar/cli.py
Due: ruff-format, ruff-linter, bandit, vulture

refactor(cli): rename subcommand callback function for clarity
  src/sugar/cli.py
Due: ruff-format, ruff-linter, bandit, vulture

refactor(cli): remove unnecessary decorator from subcommand callback function
  src/sugar/cli.py
Due: ruff-format, ruff-linter, bandit, vulture

remove dependency
  src/sugar/extensions/base.py
  src/sugar/extensions/compose.py
Due: ruff-format, ruff-linter, bandit, vulture

documentation update
  README.md
Due: none

fix linting
  src/sugar/extensions/base.py
  src/sugar/extensions/compose.py
Due: ruff-format, ruff-linter, bandit, vulture

add smoke-test for multiple env
  .env2
  .makim.yaml
  tests/containers/.multiple-env.sugar.yaml
  tests/containers/profile1/compose.yaml
Due: none

Fixed linting, code style, annotations, and ensured proper use of logs.py methods
  .vscode/settings.json
  src/sugar/core.py
  src/sugar/extensions/stats.py
  src/sugar/extensions/tui.py
  src/sugar/tui/__init__.py
  src/sugar/tui/app.py
  src/sugar/tui/data/app.json
  src/sugar/tui/profile.json
  src/sugar/tui/screens/__init__.py
  src/sugar/tui/screens/details.py
  src/sugar/tui/screens/logs.py
  src/sugar/tui/screens/profiles.py
  src/sugar/tui/screens/services.py
  src/sugar/tui/styles/screens.css
  src/sugar/tui/styles/styles.css
  tests/test_containers_sugar.py
  tests/test_ext_compose.py
  tests/test_ext_compose_ext.py
  tests/test_ext_compose_stats.py
Due: ruff-format, ruff-linter, bandit, vulture

Fixed linting, code style, annotations, and ensured proper use of logs.py methods
  .vscode/settings.json
Due: none

update: removed uneccessary commends in podman_ext.py
  src/sugar/extensions/podman_ext.py
Due: ruff-format, ruff-linter, bandit, vulture

feat(cli): enhance Typer app with subcommand help fallback upon empty command args (#176)
  src/sugar/cli.py
Due: ruff-format, ruff-linter, bandit, vulture

refactor: Introduce `_load_backend` Abstract Method for Improved Extensibility (#171)
  README.md
  src/sugar/extensions/base.py
  src/sugar/extensions/compose.py
Due: ruff-format, ruff-linter, bandit, vulture

fix: update schema.json for podman-compose extension
  src/sugar/schema.json
Due: none

docs: replace index.md with symbolic link to README.md
  docs/index.md
Due: none

update: remove commented-out code in podman_ext.py and utils.py for cleaner codebase
  src/sugar/extensions/podman_ext.py
  src/sugar/utils.py
Due: ruff-format, ruff-linter, bandit, vulture

fixed linter issues
  tests/test_containers_sugar.py
  tests/test_ext_compose.py
  tests/test_ext_compose_ext.py
  tests/test_ext_compose_stats.py
Due: ruff-format, ruff-linter, bandit

bug: fixing version flag handling in CLI (#169)
  src/sugar/cli.py
Due: ruff-format, ruff-linter, bandit, vulture

feat(podman): implement method for podman-compose setup
  src/sugar/extensions/podman_ext.py
  src/sugar/extensions/stats.py
Due: ruff-format, ruff-linter, bandit, vulture

refactor: remove redundant smoke test profiles for podman
  .makim.yaml
Due: none

refactor: remove type ignore comments from StatsPlotWidget and StatsPlotApp classes
  src/sugar/extensions/stats.py
Due: ruff-format, ruff-linter, bandit, vulture

load_backend_args update for multiple env
  src/sugar/extensions/compose.py
Due: ruff-format, ruff-linter, bandit, vulture

feat: Add support for multiple `.env` files (#175)
  .env2
  .makim.yaml
  src/sugar/extensions/base.py
  src/sugar/extensions/compose.py
  src/sugar/schema.json
  tests/containers/.multiple-env.sugar.yaml
  tests/containers/profile1/compose.yaml
Due: ruff-format, ruff-linter, bandit, vulture

using array instead of string for default
  docs/index.md
  tests/containers/.hooks.sugar.yaml
  tests/containers/.multiple-env.sugar.yaml
Due: none
