Repository osl-incubator/sugar: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-linter, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        exclude: |
          (?x)(
            docs
          )
        language: system
        pass_filenames: true
        types:
          - python

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        exclude: "docs/"
        pass_filenames: true
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy .
        language: system
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/sugar/"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

fixed lint and docstring period in _load_backend method
  src/sugar/extensions/stats.py
  src/sugar/extensions/tui.py
  src/sugar/tui/app.py
  src/sugar/tui/screens/details.py
  src/sugar/tui/screens/logs.py
  src/sugar/tui/screens/profiles.py
  src/sugar/tui/screens/services.py
Due: ruff-format, ruff-linter, bandit, vulture

feat: Change services/default property from string to array(list) format (#181)
  .sugar.yaml
  README.md
  docs/index.md
  src/sugar/extensions/base.py
  src/sugar/schema.json
  tests/containers/.hooks.sugar.yaml
  tests/containers/.multiple-env.sugar.yaml
  tests/containers/.services.sugar.yaml
Due: ruff-format, ruff-linter, bandit, vulture

experimental: Add Experimental Terminal User Interface (TUI) for Sugar (#165)
  src/sugar/core.py
  src/sugar/extensions/tui.py
  src/sugar/tui/__init__.py
  src/sugar/tui/app.py
  src/sugar/tui/data/app.json
  src/sugar/tui/screens/__init__.py
  src/sugar/tui/screens/details.py
  src/sugar/tui/screens/logs.py
  src/sugar/tui/screens/profiles.py
  src/sugar/tui/screens/services.py
  src/sugar/tui/styles/screens.css
  src/sugar/tui/styles/styles.css
Due: ruff-format, ruff-linter, bandit, vulture

feat: Add Podman extension documentation and update navigation
  docs/podman-ext.md
  mkdocs.yaml
Due: none

refactor(podman_ext): simplify _load_backend method documentation
  src/sugar/extensions/podman_ext.py
Due: ruff-format, ruff-linter, bandit, vulture

fix(podman_ext): update backend loading logic and add documentation note
  docs/podman-ext.md
  src/sugar/extensions/podman_ext.py
Due: ruff-format, ruff-linter, bandit, vulture

feat(podman_ext): add service checks and improve command handling for podman
  .makim.yaml
  src/sugar/extensions/podman_ext.py
Due: ruff-format, ruff-linter, bandit, vulture

feat: add CLI tests for Podman and update Makim configuration
  .github/workflows/main.yaml
  .makim.yaml
Due: none

docs: update README and podman-ext documentation to reflect experimental status and key features
  README.md
  docs/podman-ext.md
  src/sugar/extensions/podman_ext.py
Due: ruff-format, ruff-linter, bandit, vulture

Add health check functionality for docker containers
  src/sugar/healthcheck.py
Due: ruff-format, ruff-linter, bandit, vulture

Add test for health check module
  tests/test_healthcheck.py
Due: ruff-format, ruff-linter, bandit

docs: update README and podman-ext documentation to reflect experimental status and key features
  docs/podman-ext.md
Due: none

refactor(podman_ext): remove experimental scale and watch commands from SugarPodmanComposeExt
  src/sugar/extensions/podman_ext.py
Due: ruff-format, ruff-linter, bandit, vulture

feat: Add CLI tests for Swarm in GitHub Actions workflow
  .github/workflows/main.yaml
Due: none

fix: Rename parameter 'service' to 'services' in SugarSwarm class for clarity
  src/sugar/extensions/swarm.py
Due: ruff-format, ruff-linter, bandit, vulture

fix: Rename parameter 'services' to 'service' in SugarSwarm class for consistency
  .makim.yaml
  src/sugar/extensions/swarm.py
Due: ruff-format, ruff-linter, bandit, vulture

fix: Update localhost to 127.0.0.1 in .makim.yaml for consistency
  .makim.yaml
Due: none

Refactored logging in healthcheck.py to use SugarLogs
  src/sugar/healthcheck.py
Due: ruff-format, ruff-linter, bandit, vulture

refactor: Remove redundant service tests and add stack removal test in .makim.yaml
  .makim.yaml
  src/sugar/extensions/swarm.py
  tests/test_swarm.py
Due: ruff-format, ruff-linter, bandit, vulture

docs: update commands from swarm documentation
  docs/swarm.md
Due: none

feat: Add Initial support for 'swarm' backend in schema ,cli and core extensions (#149)
  .github/workflows/main.yaml
  .makim.yaml
  docs/index.md
  docs/swarm.md
  mkdocs.yaml
  src/sugar/core.py
  src/sugar/extensions/swarm.py
  src/sugar/logs.py
  src/sugar/schema.json
  src/sugar/utils.py
  tests/test_swarm.py
Due: ruff-format, ruff-linter, bandit, vulture

fix : CI linting issue
  .github/workflows/main.yaml
  .makim.yaml
  src/sugar/schema.json
  src/sugar/utils.py
Due: ruff-format, ruff-linter, bandit, vulture

fix : missied smoke-env-files in CI smoke tests
  .makim.yaml
Due: none

refactor : mkdocs confiig
  mkdocs.yaml
Due: none

feat: Add initial support for 'podman-compose' in sugar (#167)
  .github/workflows/main.yaml
  .makim.yaml
  README.md
  docs/podman-ext.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  src/sugar/core.py
  src/sugar/extensions/podman_ext.py
  src/sugar/logs.py
  src/sugar/schema.json
  src/sugar/utils.py
Due: ruff-format, ruff-linter, bandit, vulture

Fix CI workflow for health check functionality
  .github/workflows/ci.yml
Due: none

refactor: Remove redundant docstrings from command test methods in TestSugarPodmanComposeExt
  tests/test_podman_ext.py
Due: ruff-format, ruff-linter, bandit

fix: Update error message assertion for invalid path type in test_load_podman_compose_args_invalid_path_type_with_proper_error
  tests/test_podman_ext.py
Due: ruff-format, ruff-linter, bandit

fix: Enhance TypeError assertion for invalid path type in test_load_podman_compose_args_invalid_path_type_with_proper_error
  tests/test_podman_ext.py
Due: ruff-format, ruff-linter, bandit

tests: Add unit tests for podman compose (#186)
  tests/test_podman_ext.py
Due: ruff-format, ruff-linter, bandit

chore(release): 1.17.0
  docs/changelog.md
  pyproject.toml
  src/sugar/__init__.py
Due: ruff-format, ruff-linter, bandit, vulture

Notes added by 'git notes add'
  6cb4275e8dc7dad57affa9cea8e1a9f79c5961bb
Due: none

deploy: fd5423f3b568ba8716df517df010b7df76d260a2
  404.html
  changelog/index.html
  example/index.html
  index.html
  installation/index.html
  podman-ext/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  swarm/index.html
Due: none

feat: Add support for podman-compose backend and enhance error handling
  .makim.yaml
Due: none

Update src/sugar/extensions/swarm.py
  src/sugar/extensions/swarm.py
Due: ruff-format, ruff-linter, bandit, vulture

feat: Implementation of swarm orchestration and management for sugar workflows (#188)
  .makim.yaml
  docs/swarm.md
  mkdocs.yaml
  src/sugar/extensions/swarm.py
  tests/test_swarm.py
Due: ruff-format, ruff-linter, bandit, vulture
